<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Animal</title>
</head>
<body>
    <form method="post" action="/animals">
        <input name="name" placeholder="name of animal?" type="text">
        <br><br>
        <button>Summit</button>
    </form>
</body>
</html>