<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h3>Edit @ : <%= animal._id %></h3>
    <p>PreviousName : <b> <%=animal.name%></b></p>
    <form method="POST" action="/animals/<%=animal._id%>?_method=PUT">
        <textarea name="name" id="" cols="30" rows="10"><%=animal.name%></textarea>
        <button>edit</button>
    </form>
</body>
</html>